@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

html {
  font-family: 'Merriweather Sans', sans-serif !important;
  width: 100%;
  overflow-x: hidden;
}

p {
  text-align: justify;
}


#content {
  position: relative;
  top: 32px;
  /*background-color: antiquewhite;*/
  /*left: -10px;*/
  /*height: 100%;*/
}

/**/
.block {
  max-height: 100%;
  padding: 20px;
}

/**/
/*.block p {*/
/*padding: 0px;*/
/*margin: 0px;*/
/*margin-left: 20px;*/
/*}*/

.gallery-table img {
  width: 350px;
  height: 250px;
  padding: 10px;
  cursor: pointer;

}


#contact label {
  float: left;
  font-weight: bold;
}

#contact button {
  float: right;
}
.custom-label > label {
  float: left;
  font-weight: bold;
}

#form button {
  float: right;
}

#valores {
  display: none;
}

#missao {
  display: none;
}

.gallery-video {
  padding: 20px;
}
